/* General Styles */

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #222222;
  background-color: rgb(236,226,217);
  font-weight: bold;
  font-size: 10pt;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Id's */

#centerhead {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
}

#chapterNavigation {
  display: flex;
  position: absolute;
  top: 2rem;
  left: 0.3rem;
  display: flex;
  width: auto;
  z-index: 5;
}

#content {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-content: stretch;
  top: 75px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

#content #crumbs {
  display: none;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  z-index: 10000;
  background-color: #4B4E6D;
  color: #E5E7EE;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#header #crumbs {
  font-family: 'poppins', sans-serif;
  font-weight: 300;
  color: #E5E7EE;
  position: absolute;
  left: 0;
  padding-left: 1.25em;
  order: -1;
}

#header a:hover {
  background-color: #6c6e84;
  padding: .5em;
  border-radius: 3px;
  color: #E5E7EE;
  text-decoration: underline;
}

#header a:link, #header a:visited, #header a:active {
  color: #E5E7EE;
  text-decoration: none;
}

#crumbs a:link, #crumbs a:visited, #crumbs a:active {
  color: #E5E7EE;
  text-decoration: none;
}

#map {
  flex: 1 1 70%;
}

#navIconLeft {
  position: absolute;
  left: 1rem;
  color: #E5E7EE;
}

#navIconRight {
  position: absolute;
  right: 1rem;
  color: #E5E7EE;
}

#scriptureContent {
  width: 30rem;
  background-color: #222222;
  border-right: 1px solid #aaa;
}

#scripnav {
  position: absolute;
  max-height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#scriptures {
  flex: 1 1 30%;
  position: relative;
  height: 100%;
  min-height: 100%;
  min-width: 220px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #aaa;
}

#scriptures ul.versesblock {
  margin: 0;
  padding: 1em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  list-style: none;
  font-size: 13pt;
  line-height: auto;
}


/* Classes */

div.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 3em;
  padding: 0 .3em;
  font-family: "Poppins", sans-serif;
}

div.books a {
  flex: 0 0 7em;
  font-weight: normal;
  margin: .4em;
  padding: .5em;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  background-color: #6c6e84;
  color: #E5E7EE;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
}

div.books a:hover{
  background-color: #9a9db7;
}

div.books a.chapter {
  flex: 0 0 4em;
}

div.chapterheading {
  background-color: #9da0c2;
  color: #222222;
  padding: .5em;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
}

div.chapterheading b.big {
  font-size: 140%;
}

div.navheading {
  padding: 0.3rem;
  border-bottom: 1px solid #4B4E6D;
  color: #E5E7EE;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13pt;
  text-align: center;
}

div.title {
  display: block;
  font-size: larger;
  font-weight: bolder;
}

div.subtitle {
  display: block;
  font-size: smaller;
}

.material-icons {
  padding: 0.2rem;
  vertical-align: middle;
  font-size: 30px;
}

.navheading a:hover {
  color: #4488ff;
  text-decoration: underline;
}

.navheading a:link, .navheading a:visited, .navheading a:active {
  color: #222;
  text-decoration: none;
}

.navheading .nextprev {
  position: absolute;
  right: 1em;
}

.scripturewrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  padding-bottom: 3rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #222222;
  color: #E5E7EE;
  font-family: 'poppins', sans-serif;
  font-size: 12pt;
  font-weight: 200;
}

.scripturewrapper li a:hover {
  color: rgb(116, 116, 190);
  text-decoration: underline;
}

.scripturewrapper li a:link, .scripturewrapper li a:visited, .scripturewrapper li a:active {
  color: #8e8ef8;
  text-decoration: none;
}

span.verse {
  padding-right: .3em;
  padding-left: .4em;
}

ul.versesblock li {
  position: relative;
  display: block;
  margin-bottom: .3em;
}

ul.versesblock li.sectionHeader {
  font-style: italic;
}

.volume {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Questrial", sans-serif;
  padding: .5em;
  font-size: 12pt;
}

.volume a {
  text-decoration: none;
}

.volume h1 {
  color:#E5E7EE;
  font-size: 1.24rem;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  #centerhead {
    font-size: 1rem;
  }

  #content {
    flex-direction: column;
    position: absolute;
    align-content: stretch;
    top: 56px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #header #crumbs {
    display: none;
  }

  #content #crumbs {
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    color: #E5E7EE;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #4B4E6D;
    position: relative;
    left: 0;
    padding-left: 1.25em;
    order: 2;
  }

  #scriptureContent {
    order: 3;
    height: 100%;
    width: 100%;
  }

  #map {
    order: 1;
  }
}